@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --backgroung-color-white: #F2F4FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroung-color-white);
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

.nav-bar {
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-bar nav ul li a{
  margin: 15px;
  text-decoration: none;
}


.contact-button a {
  padding: 15px;
  background-color: var(--primary);
  text-decoration: none;
  color: aliceblue;
}

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.main{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 50px;
  
}

.text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.text-left h1{
  font-size: 3rem;
  padding: 10px;
}

.text-left p {
  padding: 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.534);
  padding: 10px;
}

.main-buttons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-buttons a {
  text-decoration: none;
  padding: 15px;
}

.main-buttons a:last-child {
  background-color: var(--primary);
  color: aliceblue;
}

.image-right {
  width: 30%;
  display: block;
  position: relative;
}


.hero-img {
  width: 100%;
}

.card1-img {
  background: none;
  position: absolute;
  left: -30px;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 50%;
}

.card2-img {
  background: none;
  position: absolute;
  left: auto;
  top: auto;
  right: -80px;
  bottom: -100px;
  width: 50%;
}
/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

.brands {
  width: 100vw;
  height: 20%;
}

.brands a img {
  padding: 0 10px 0 10px;
  width: 10%;
}

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
  .main {
    flex-direction: column;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .main-buttons {
    display: flex;
    flex-direction: column;
  }

  .text-left {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  .text-left h1 {
    font-size: 2rem;
    text-align: center;
  }

  .text-left p {
    text-align: center;
  }

  .image-right {
    padding-top: 10px;
    width: 40%;
  }

  .card1-img {
    display: none;
  }

  .card2-img {
    display: none;
  }
/*******************/

.brands {
  width: 100vw;
}

.brands a img {
  width: 10%;
}


}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
